*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    color: #111;
    text-rendering: optimizeLegibility;
    font-family: "Raleway",sans-serif;
}



li{
    list-style:none;
    display:inline-block;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}
/*header section*/
header{
    width:100%;
    background-color: #fff;
    color:#111;
}

.heading-div{
    max-width: 1400px;
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    align-items:center;
    padding:0 20px;
    position: relative;
}

.heading-div img{
    width:120px;
}

.nav-menu a{
    color:#111;
    padding:15px 10px;
    margin:0 20px;
    font-size: 21px;
    transition: border-bottom .3s ease;
}

.nav-menu a:hover{
    border-bottom: 3px solid #ff5757;
}

/*sticky-nav*/
.sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(255,255,255,0.9);
}

/*header-section*/
.header-section{
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height:60vh;
}

/*about-me section*/
.about-me{
    margin-top:100px;
}

.section-heading{
    text-transform: uppercase;
    font-size: 20px;
}

.line{
    width:100%;
    height:2px;
    background-color: #111;
    margin: 10px 0;
}

.about-me p{
    margin:70px 0;
}

.my-images{
    display:flex;
    justify-content: space-between;
}

.image{
    width:30%;
}

.image img{
    width:100%;
}

.image h3{
    text-align:center;
    text-transform: uppercase;
    margin-top:10px;
    font-size: 17px;
}

/*portfolio section*/
.portfolio{
    margin-top:100px;
}

.portfolio-items{
    display: flex;
    justify-content:space-between;
    flex-flow: wrap;
    margin-top:70px;
}

.portfolio-items img{
    width:32%;
    margin-bottom:30px;
}